<% content_for :content_title, @title %>
<% content_for :content_subtitle,
      'Course: '.html_safe + link_to(@lesson.course.title, admin_course_path(@lesson.course), title: 'Go back to this course') +
      ' &mdash; Lesson: '.html_safe + link_to(@lesson.title, admin_course_lesson_path(@lesson.course, @lesson), title: 'Go back to this lesson') %>
<% unless @lesson_page.new_record? %>
  <% content_for :content_title_extra do %>
    <%= page_header_buttons do %>
      <%= present(@lesson_page).label_published %>
      <%= link_to(icons(:view), lesson_page_show_url(@lesson.course, @lesson, @lesson_page), class: "btn btn-sm btn-default", title: 'View', target: '_blank') %>
      <div class="btn-group">
        <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><%= icons(:gear) %> <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right icons-right">
          <li class="text-danger"><%= link_to icon_label(:delete, 'Delete Teaching', icon_class: 'text-danger', label_class: 'text-danger'), ([:admin, @lesson.course, @lesson, @lesson_page] unless @lesson_page.new_record?), method: :delete, class: 'text-danger', data: {confirm: 'Are you sure you wish to delete this teaching?  All comments will also be deleted!'} %></li>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>

<% submit_url = (@teaching.new_record? ? admin_course_lesson_teachings_path(@course, @lesson) : admin_course_lesson_teaching_path) %>
<%= simple_form_for @teaching, url: submit_url, wrapper: :bs3_vertical_form, wrapper_mappings: DmAdmin::VerticalFormWrapperMappings do |f| %>
  <div class="row">
    <div class="col-md-8">
      <%= f.error_notification message: "Please review the problems below" %>
    	<%= panel title: @title do %>
        <%= locale_tabs do |locale| %>
          <%= f.input "title_#{locale}", label: 'Title of Teaching', required: true, autofocus: true %>
          <%= f.input "menutitle_#{locale}", label: 'Menu Title' %>
          <%= f.input "content_#{locale}", label: 'Content', required: true, wrapper: :bs3_vertical_form, as: :code_editor %>
        <% end %>

        <%= f.simple_fields_for @lesson_page do |p| %>
          <%= p.input :slug, label: 'Slug', hint: 'Leave blank to have auto-generated based on title.' %>
        <% end %>
    	<% end %>
    </div>

    <div class="col-md-4">
      <%= panel title: icon_label(:calendar, 'Publish') do %>
        <%= f.simple_fields_for @lesson_page do |p| %>
          <%= p.input :published, inline_label: 'Publish It?' %>
        <% end %>
      <% end %>
      <%= submit_or_cancel save: @lesson_page.new_record? ? 'Create' : 'Update', cancel_url: [:admin, @course, @lesson] %>
      <hr>
    </div>
  </div>
<% end %>
