<% full_name = @registration.user_profile ? @registration.full_name : 'User has been DELETED' %>
<% content_for :content_title, "#{h(full_name)} <small>[#{@registration.receipt_code}] : #{h(@workshop.title)}</small>".html_safe %>
<% content_for :content_title_extra do %>
  <%= page_header_buttons do %>
    <%= present(@registration).admin_status_label %>
    <%= link_to icon_label(:view, 'Registrations'), [:admin, @workshop], class: 'btn btn-sm btn-default' %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-9 col-sm-9">

    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#overview_tab" data-toggle="tab">Overview</a></li>
        <li><a href="#update_registration_tab" data-toggle="tab">Update Registration</a></li>
        <li><a href="#payment_tab" data-toggle="tab">Payments</a></li>
        <li><a href="#private_comments" data-toggle="tab">Comments <%= colored_label(@registration.comments_count, :info) %></a></li>
      </ul>

      <div class="tab-content with-padding">
        <%= render 'tab_overview' %>
        <%= render 'tab_update_registration' %>
        <%= render 'tab_payments' %>
        <%= render 'tab_comments' %>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    <%= render 'overview_col' %>
  </div>
</div>
