<%= I18n.t('email.salutation', value: h(@values['first_name'])) %>

<%= I18n.t('ems.ticket_registered_following_event') %>:

  <%= I18n.t('ems.ticket_receipt_ticket_number') %>: <%=h @values['receipt_code'] %>
  <%=h @values['title'].strip %>

<%= I18n.t('ems.ticket_outstanding_balance') %>:

  <%= @values['payment_owed'] %>

<%= I18n.t('ems.ticket_payment_link_leadin' )%>:

  <%= @values['payment_url'] %>

<%= I18n.t('ems.ticket_receipt_questions', value: h(@registration.workshop.contact_email)) %>

<%= I18n.t('email.thank_you') %>

<%= I18n.t('ems.ticket_if_already_paid', value: h(@registration.workshop.contact_email))%>
