<div class="ticket">
  <table>
    <tr><td><strong><%= I18n.t('ems.ticket_receipt_event') %>:</strong></td><td><%=h @registration.workshop.title %></td></tr>
    <tr><td><strong><%= I18n.t('ems.ticket_receipt_attendee') %>:</strong></td><td><%=h @registration.full_name %></td></tr>
    <tr><td><strong><%= I18n.t('ems.ticket_receipt_ticket_number') %>:</strong></td><td><%=h @registration.receipt_code %></td></tr>
  </table>
</div>

<p><%= I18n.t('email.salutation', value: h(@registration.full_name)) %></p>

<%= markdown(@content, :safe => false) %>

<% if @state != 'rejected' %>
  <p><%= I18n.t('ems.ticket_receipt_questions', value: h(@registration.workshop.contact_email)) %>
  <% unless @registration.workshop.contact_phone.blank? -%>
    <%= I18n.t('ems.ticket_receipt_questions_telephone', value: h(@registration.workshop.contact_phone)) %>
  <% end -%>
  .</p>

  <p><%= I18n.t('email.thank_you') %></p>
<% end %>
